/* CIT 230 - Assignment Portal CSS Template */

/* * is a wildcard referring to all elements. */
* { margin: 0;} 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: lightseagreen;
}
 
h1 {
    font-size: 3rem;
    color: lightsalmon;
}

h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid salmon;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 60%;
}

header, footer, footer {
    text-align: center;
    background-color: darkslategrey;
    color: whitesmoke;
}

header img {
    width: 35%;
    height: auto;
    float: right;
}

footer {
    font-size: 1rem;
}